.job-form {
    display: flex;
    justify-content: center;
}

.job-info {
    font-size: 18px;
}

.job-submit-btn {
    margin-top: 10px; 
    display: flex;
    justify-content: center;
}

.overview-heading {
    font-size: 20px;
    border-bottom: solid 1px;
    padding-bottom: 5px;
}