.list-section {
  background-color: #94c5cc;
  padding: 4px;
  
}

.list-active-requests {
  background-color: #da9494;

  display: inline;  /*this was grid originally */
  grid-template-columns: repeat(3, 30%);
  justify-content: center;
  gap: 3rem;
  width: 80rem;
}

.active-box-container {
  display: block;
  grid-template-columns: repeat(3, 30%);
  justify-content: center;
  gap: 3rem;

  width: 80rem;
  /* flex-wrap: wrap; */
}

.active-requests-header {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.completed-requests-header {
  background-color: #da9494;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.requests-page-view-btn {
  background-color: black;
  border-color: #454B66;
  color: azure;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  outline: 0;
  cursor: pointer;
}

.list-header {
  /* background-color: #94c5cc; */
  width: 50rem;
  display: inline;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.job-list-body {
  display: flex;
flex-direction: column
}
/* .list-active-requests,
.list-completed-requests {
  background-color: #d9b;
} */

/* .list-completed-requests {
  background-color: rgb(181, 235, 100);
} */
