.list-section {
  background-color: #94c5cc;
  padding: 4px;
  
}

.list-active-requests {
  background-color: #d9b;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: center;
  gap: 3rem;
  width: 80rem;
}

.active-box-container {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: center;
  gap: 3rem;

  width: 80rem;
}
/* .list-active-requests,
.list-completed-requests {
  background-color: #d9b;
} */

/* .list-completed-requests {
  background-color: rgb(181, 235, 100);
} */
