.custom-task-input-container {
  width: 30rem;
  position: relative;
  margin-left: -2.5rem;
}

.custom-task-label {
  position: absolute;
  left: 10px;
  top: 15px;
  transition: all 0.2s;
  padding: 0 2px;
  z-index: 1;
  color: rgb(120, 120, 120);
}

.custom-task-checklist {
  padding: 0.8rem;
  width: 100%;
  height: 1rem;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 5px;
  font-size: 18px;
  outline: none;
  transition: all 0.3s;
}

.custom-task-label::before {
  content: "";
  height: 5px;
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  z-index: -1;
}

.custom-task-checklist:focus {
  border: 1px solid blue;
}

.custom-task-checklist:focus + .custom-task-label,
.filled {
  top: -4px;
  color: blue;
  background-color: white;
  font-size: 14px;
}

.custom-task-checklist::placeholder {
  font-size: 16px;
  opacity: 0;
  transition: all 0.3s;
}

.custom-task-checklist:focus::placeholder {
  opacity: 1;
  animation-delay: 0.2;
}

/* button styles */
.job-form-standard-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: none;
}
.checklist-button-arrow {
  transition: transform ease 0.1s;
}

.checklist-arrow-show {
  transform: rotate(180deg);
}

.job-form-standard-body,
.job-form-custom-body {
  border-top: solid 1px rgb(100, 100, 100);
  border-bottom: solid 1px rgb(100, 100, 100);
  width: 40rem;
}
